# Data Loading, Storage,

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

## Reading and Writing Data in Text Format

In [2]:
!cat examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Use "message" column as the index!

In [8]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
!cat examples/csv_mindex.csv
parsed = pd.read_csv('examples/csv_mindex.csv',
                     index_col=['key1', 'key2'])
parsed

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [10]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [12]:
!cat examples/ex4.csv
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
!cat examples/ex5.csv
result = pd.read_csv('examples/ex5.csv')
result
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [14]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading Text Files in Pieces

In [16]:
pd.options.display.max_rows = 10

In [17]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [18]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [19]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)
chunker

In [20]:
chunker = pd.read_csv('examples/ex6.csv', chunksize=1000)

tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [21]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### Writing Data to Text Format

In [22]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [23]:
data.to_csv('examples/out.csv')
!cat examples/out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [24]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [25]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [26]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [28]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [29]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [30]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv')
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6
/Users/arto/opt/anaconda3/envs/ds/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

Corrected below:

In [33]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('examples/tseries.csv', header = False)
!cat examples/tseries.csv

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### Working with Delimited Formats

In [34]:
!cat examples/ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [35]:
import csv
f = open('examples/ex7.csv')

reader = csv.reader(f)

In [36]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [37]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

In [38]:
header, values = lines[0], lines[1:]

In [39]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(f, dialect=my_dialect)

reader = csv.reader(f, delimiter='|')

with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### JSON Data

In [40]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [41]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [42]:
asjson = json.dumps(result)

In [43]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [44]:
!cat examples/example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [45]:
data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [46]:
print(data.to_json())
print(data.to_json(orient='records'))

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML and HTML: Web Scraping

#conda install lxml
#pip install beautifulsoup4 html5lib

In [50]:
tables = pd.read_html('examples/fdic_failed_bank_list.html')
len(tables)
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [51]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, Length: 15, dtype: int64

#### Parsing XML with lxml.objectify

<INDICATOR>
  <INDICATOR_SEQ>373889</INDICATOR_SEQ>
  <PARENT_SEQ></PARENT_SEQ>
  <AGENCY_NAME>Metro-North Railroad</AGENCY_NAME>
  <INDICATOR_NAME>Escalator Availability</INDICATOR_NAME>
  <DESCRIPTION>Percent of the time that escalators are operational
  systemwide. The availability rate is based on physical observations performed
  the morning of regular business days only. This is a new indicator the agency
  began reporting in 2009.</DESCRIPTION>
  <PERIOD_YEAR>2011</PERIOD_YEAR>
  <PERIOD_MONTH>12</PERIOD_MONTH>
  <CATEGORY>Service Indicators</CATEGORY>
  <FREQUENCY>M</FREQUENCY>
  <DESIRED_CHANGE>U</DESIRED_CHANGE>
  <INDICATOR_UNIT>%</INDICATOR_UNIT>
  <DECIMAL_PLACES>1</DECIMAL_PLACES>
  <YTD_TARGET>97.00</YTD_TARGET>
  <YTD_ACTUAL></YTD_ACTUAL>
  <MONTHLY_TARGET>97.00</MONTHLY_TARGET>
  <MONTHLY_ACTUAL></MONTHLY_ACTUAL>
</INDICATOR>

In [52]:
from lxml import objectify

path = 'datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [53]:
data = []

skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
               'DESIRED_CHANGE', 'DECIMAL_PLACES']

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [54]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95,96.9,95,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95,96,95,95
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95,96.3,95,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95,96.8,95,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95,96.6,95,95.8

In [55]:
from io import StringIO
tag = '<a href="http://www.google.com">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [56]:
root
root.get('href')
root.text

'Google'

## Binary Data Formats

In [57]:
frame = pd.read_csv('examples/ex1.csv')
frame
frame.to_pickle('examples/frame_pickle')

In [58]:
pd.read_pickle('examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [59]:
!rm examples/frame_pickle

### Using HDF5 Format

pip install tables
DONE

In [61]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [62]:
store['obj1']

           a
0  -1.565657
1  -0.562540
2  -0.032664
3  -0.929006
4  -0.482573
..       ...
95  0.910983
96 -1.020903
97 -1.413416
98  1.296608
99  0.252275

[100 rows x 1 columns]

In [63]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])
store.close()

In [64]:
frame.to_hdf('mydata.h5', 'obj3', format='table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

          a
0 -1.565657
1 -0.562540
2 -0.032664
3 -0.929006
4 -0.482573

In [66]:
import os

In [67]:
os.remove('mydata.h5')

### Reading Microsoft Excel Files

In [69]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [70]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [71]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [74]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

In [75]:
frame.to_excel('examples/ex2.xlsx')

In [76]:
!rm examples/ex2.xlsx

## Interacting with Web APIs

In [77]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [81]:
resp.json()

   'id': 5065490,
   'node_id': 'MDk6TWlsZXN0b25lNTA2NTQ5MA==',
   'number': 70,
   'title': '1.0.2',
   'description': 'on-merge: backport to 1.0.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 19,
   'closed_issues': 10,
   'state': 'open',
   'created_at': '2020-02-03T09:13:39Z',
   'updated_at': '2020-02-08T08:15:36Z',
   'due_on': '2020-02-17T08:00:00Z',
   'closed_at': None},
  'comments': 2,
  'created_at': '2020-02-07T12:51:01Z',
  'updated_at': '2020-02-08T01:02:17Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "#### Code Sample\r\n\r\n```python\r\nimport pandas as pd\r\nprint(pd.Timestamp('2101-01-01 00:00:00') - pd.Timestamp('1688-01-01 00:00:00'))\r\n```\r\n\r\nOutputs:\r\n```\r\nTypeError: unsupported operand type(s) for -: 'Timestamp' and 'Timestamp'\r\n```\r\n\r\n#### Problem description\r\n\r\nThe difference between the timestamps is too large for the Timedelta object. This can be traced back to these lines:\r\n\r\nhttps://github.com/pandas-dev/pandas/blob/2dadd0f48949182dda412eb4032b5234c43c83c1/pandas/_libs/tslibs/c_timestamp.pyx#L303\r\n\r\nFor the example we can see that\r\n```python\r\nprint(pd.Timedelta(pd.Timestamp('2101-01-01 00:00:00').value - pd.Timestamp('1688-01-01 00:00:00').value))\r\n```\r\nresults in\r\n```OverflowError: int too big to convert```\r\n\r\n#### Expected Output\r\n\r\nIdeally, the expected output is:\r\n```\r\n150845 days 00:00:00\r\n```\r\n\r\nNote the expected output matches that of pandas 0.25.3.\r\n\r\nAlternatively, the error message should be at least somewhat informative, for example by propagating the OverflowError (removing the try/except block from L302-305) or raising a new TypeError (similar to L296). \r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.6.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nmachine          : AMD64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 1.0.1\r\nnumpy            : 1.18.0\r\npytz             : 2019.3\r\ndateutil         : 2.8.1\r\npip              : 19.3.1\r\nsetuptools       : 42.0.2.post20191201\r\nCython           : None\r\npytest           : 5.3.2\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 2.11.1\r\nIPython          : 7.11.1\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : 0.3.2\r\ngcsfs            : None\r\nlxml.etree       : None\r\nmatplotlib       : 3.1.2\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : 0.15.1\r\npytables         : None\r\npytest           : 5.3.2\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.4.1\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nxlsxwriter       : None\r\nnumba            : 0.46.0\r\n\r\n</details>\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31773',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31773/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31773/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31773/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/31773',
  'id': 561597736,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzcyMzc5MDM4',
  'number': 31773,
  'title': 'BUG: fix StringArray/PandasArray setitem with slice',
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 2822098,
    'node_id': 'MDU6TGFiZWwyODIyMDk4',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing',
    'name': 'Indexing',
    'color': '0b02e1',
    'default': False,
    'description': 'Related to indexing on series/frames, not to indexes themselves'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/70',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/70',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/70/labels',
   'id': 5065490,
   'node_id': 'MDk6TWlsZXN0b25lNTA2NTQ5MA==',
   'number': 70,
   'title': '1.0.2',
   'description': 'on-merge: backport to 1.0.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 19,
   'closed_issues': 10,
   'state': 'open',
   'created_at': '2020-02-03T09:13:39Z',
   'updated_at': '2020-02-08T08:15:36Z',
   'due_on': '2020-02-17T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2020-02-07T12:03:45Z',
  'updated_at': '2020-02-07T16:25:58Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/31773',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/31773',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/31773.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/31773.patch'},
  'body': 'Closes #31772'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31772',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31772/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31772/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31772/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/31772',
  'id': 561591791,
  'node_id': 'MDU6SXNzdWU1NjE1OTE3OTE=',
  'number': 31772,
  'title': 'BUG: setitem on string dtype with slices fails',
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/70',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/70',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/70/labels',
   'id': 5065490,
   'node_id': 'MDk6TWlsZXN0b25lNTA2NTQ5MA==',
   'number': 70,
   'title': '1.0.2',
   'description': 'on-merge: backport to 1.0.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 19,
   'closed_issues': 10,
   'state': 'open',
   'created_at': '2020-02-03T09:13:39Z',
   'updated_at': '2020-02-08T08:15:36Z',
   'due_on': '2020-02-17T08:00:00Z',
   'closed_at': None},
  'comments': 0,
  'created_at': '2020-02-07T11:50:24Z',
  'updated_at': '2020-02-07T11:50:24Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'body': '\r\n```\r\nIn [33]: df = pd.DataFrame({\'A\': [\'a\', \'b\', \'c\']}, dtype=\'string\')   \r\n\r\nIn [34]: df.loc[0:, \'A\'] = "test"  \r\n---------------------------------------------------------------------------\r\nIndexError                                Traceback (most recent call last)\r\n<ipython-input-34-bc65087be9d7> in <module>\r\n----> 1 df.loc[0:, \'A\'] = "test"\r\n\r\n~/scipy/pandas/pandas/core/indexing.py in __setitem__(self, key, value)\r\n    629             key = com.apply_if_callable(key, self.obj)\r\n    630         indexer = self._get_setitem_indexer(key)\r\n--> 631         self._setitem_with_indexer(indexer, value)\r\n    632 \r\n    633     def _validate_key(self, key, axis: int):\r\n\r\n~/scipy/pandas/pandas/core/indexing.py in _setitem_with_indexer(self, indexer, value)\r\n   1014             # actually do the set\r\n   1015             self.obj._consolidate_inplace()\r\n-> 1016             self.obj._data = self.obj._data.setitem(indexer=indexer, value=value)\r\n   1017             self.obj._maybe_update_cacher(clear=True)\r\n   1018 \r\n\r\n~/scipy/pandas/pandas/core/internals/managers.py in setitem(self, **kwargs)\r\n    538 \r\n    539     def setitem(self, **kwargs):\r\n--> 540         return self.apply("setitem", **kwargs)\r\n    541 \r\n    542     def putmask(self, **kwargs):\r\n\r\n~/scipy/pandas/pandas/core/internals/managers.py in apply(self, f, filter, **kwargs)\r\n    417                 applied = b.apply(f, **kwargs)\r\n    418             else:\r\n--> 419                 applied = getattr(b, f)(**kwargs)\r\n    420             result_blocks = _extend_blocks(applied, result_blocks)\r\n    421 \r\n\r\n~/scipy/pandas/pandas/core/internals/blocks.py in setitem(self, indexer, value)\r\n   1801 \r\n   1802         check_setitem_lengths(indexer, value, self.values)\r\n-> 1803         self.values[indexer] = value\r\n   1804         return self\r\n   1805 \r\n\r\n~/scipy/pandas/pandas/core/arrays/string_.py in __setitem__(self, key, value)\r\n    260                 raise ValueError("Must provide strings.")\r\n    261 \r\n--> 262         super().__setitem__(key, value)\r\n    263 \r\n    264     def fillna(self, value=None, method=None, limit=None):\r\n\r\n~/scipy/pandas/pandas/core/arrays/numpy_.py in __setitem__(self, key, value)\r\n    273             value = np.asarray(value, dtype=self._ndarray.dtype)\r\n    274 \r\n--> 275         self._ndarray[key] = value\r\n    276 \r\n    277     def __len__(self) -> int:\r\n\r\nIndexError: arrays used as indices must be of integer (or boolean) type\r\n```'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31771',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31771/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31771/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/31771/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/31771',
  'id': 561586460,
  'node_id': 'MDU6SXNzdWU1NjE1ODY0NjA=',
  'number': 31771,
  'title': 'BUG: df.to_markdown() with empty frame incorrect output',
  'user': {'login': 'ThibTrip',
   'id': 40694343,
   'node_id': 'MDQ6VXNlcjQwNjk0MzQz',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/40694343?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/ThibTrip',
   'html_url': 'https://github.com/ThibTrip',
   'followers_url': 'https://api.github.com/users/ThibTrip/followers',
   'following_url': 'https://api.github.com/users/ThibTrip/following{/other_user}',
   'gists_url': 'https://api.github.com/users/ThibTrip/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/ThibTrip/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/ThibTrip/subscriptions',
   'organizations_url': 'https://api.github.com/users/ThibTrip/orgs',
   'repos_url': 'https://api.github.com/users/ThibTrip/repos',
   'events_url': 'https://api.github.com/users/ThibTrip/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/ThibTrip/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 4,
  'created_at': '2020-02-07T11:39:00Z',
  'updated_at': '2020-02-07T19:22:53Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': "#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport pandas as pd\r\n\r\ndf = pd.DataFrame({'id': [], 'first_name': [], 'last_name': []}).set_index('id')\r\nprint(df.to_markdown())\r\n```\r\n```\r\n| id   | first_name   | last_name   |\r\n||\r\n```\r\n\r\n#### Problem description\r\n\r\nThe markdown output of empty DataFrames does not seem right to me (see Expected Output).\r\n\r\n#### Expected Output\r\n\r\n```\r\n| id   | first_name   | last_name   |\r\n|-----:|-------------:|------------:|\r\n```\r\n\r\n#### Render difference\r\n\r\n##### Current\r\n\r\n| id   | first_name   | last_name   |\r\n||\r\n\r\n\r\n##### Expected\r\n\r\n| id   | first_name   | last_name   |\r\n|-----:|-------------:|------------:|\r\n\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Windows\r\nOS-release       : 10\r\nmachine          : AMD64\r\nprocessor        : Intel64 Family 6 Model 85 Stepping 4, GenuineIntel\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : None\r\nLOCALE           : None.None\r\n\r\npandas           : 1.0.1\r\nnumpy            : 1.18.1\r\npytz             : 2019.3\r\ndateutil         : 2.8.0\r\npip              : 19.2.3\r\nsetuptools       : 41.4.0\r\nCython           : 0.29.13\r\npytest           : 5.2.1\r\nhypothesis       : None\r\nsphinx           : 2.2.0\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 1.2.1\r\nlxml.etree       : 4.4.1\r\nhtml5lib         : 1.0.1\r\npymysql          : None\r\npsycopg2         : 2.8.4 (dt dec pq3 ext lo64)\r\njinja2           : 2.10.3\r\nIPython          : 7.8.0\r\npandas_datareader: None\r\nbs4              : 4.8.0\r\nbottleneck       : 1.2.1\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : 4.4.1\r\nmatplotlib       : 3.1.1\r\nnumexpr          : 2.7.0\r\nodfpy            : None\r\nopenpyxl         : 3.0.0\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\npytest           : 5.2.1\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.3.1\r\nsqlalchemy       : 1.3.12\r\ntables           : 3.5.2\r\ntabulate         : 0.8.6\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : 1.3.0\r\nxlsxwriter       : 1.2.1\r\nnumba            : 0.45.1\r\n\r\n</details>\r\n"}]

In [78]:
data = resp.json()
data[0]['title']

'Backport PR #31748: BUG: Fixed encoding of pd.NA with to_json'

In [79]:
issues = pd.DataFrame(data, columns=['number', 'title',
                                     'labels', 'state'])
issues

,number,title,labels,state
0,31804,Backport PR #31748: BUG: Fixed encoding of pd....,[],open
1,31803,DEPR: df.loc(axis),[],open
2,31802,cumsum regression with groupby call to agg,[],open
3,31801,to_json index with Null Value Broken in 1.0,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
4,31800,CI Fix w/o tm helper,[],open
...,...,...,...,...
25,31775,Feature Request: Sample method for Groupby obj...,[],open
26,31774,"REGR: Timestamp subtraction raises TypeError, ...","[{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...",open
27,31773,BUG: fix StringArray/PandasArray setitem with ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,31772,BUG: setitem on string dtype with slices fails,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,31771,BUG: df.to_markdown() with empty frame incorre...,[],open

## Interacting with Databases

In [82]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

In [83]:
data = [('Atlanta', 'Georgia', 1.25, 6),
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [84]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [85]:
cursor.description
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [86]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [87]:
!rm mydata.sqlite

## Conclusion