# Time Series

In [13]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Date and Time Data Types and Tools

In [15]:
from datetime import datetime
now = datetime.now()
now
now.year, now.month, now.day

datetime.datetime(2020, 2, 9, 20, 19, 38, 259110)

(2020, 2, 9)

In [16]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
delta.seconds

datetime.timedelta(days=926, seconds=56700)

926

56700

In [17]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)
start - 2 * timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime

In [24]:
stamp = datetime(2011, 1, 3)
str(stamp)
stamp.strftime('%y-%m-%d')

'2011-01-03 00:00:00'

'11-01-03'

In [25]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

datetime.datetime(2011, 1, 3, 0, 0)

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [26]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [28]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [29]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [34]:
idx = pd.to_datetime(datestrs + [None])
idx
idx[2]
pd.isnull(idx)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

NaT

array([False, False,  True])

## Time Series Basics

In [35]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [37]:
ts + ts[::2]

2011-01-02    0.185816
2011-01-05         NaN
2011-01-07    1.538045
2011-01-08         NaN
2011-01-10    2.014379
2011-01-12         NaN
dtype: float64

In [38]:
ts.index.dtype

dtype('<M8[ns]')

In [39]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [41]:
ts

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [44]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [45]:
stamp = ts.index[2]
ts[stamp]

0.7690225676118387

In [46]:
ts['1/10/2011']
ts['20110110']

1.0071893575830049

1.0071893575830049

In [47]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts
longer_ts['2001']

2000-01-01    0.274992
2000-01-02    0.228913
2000-01-03    1.352917
2000-01-04    0.886429
2000-01-05   -2.001637
                ...
2002-09-22   -0.178098
2002-09-23    2.122315
2002-09-24    0.061192
2002-09-25    0.884111
2002-09-26   -0.608506
Freq: D, Length: 1000, dtype: float64

2001-01-01   -1.308228
2001-01-02    2.173185
2001-01-03    0.564561
2001-01-04   -0.190481
2001-01-05   -0.916934
                ...
2001-12-27   -0.254240
2001-12-28   -1.263437
2001-12-29    0.452263
2001-12-30   -0.840117
2001-12-31   -0.502678
Freq: D, Length: 365, dtype: float64

In [48]:
longer_ts['2001-05']

2001-05-01    1.489410
2001-05-02    1.264250
2001-05-03   -0.761837
2001-05-04   -0.331617
2001-05-05   -1.751315
                ...
2001-05-27    1.297622
2001-05-28   -1.686933
2001-05-29    1.089539
2001-05-30    2.060882
2001-05-31   -0.241235
Freq: D, Length: 31, dtype: float64

In [49]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

In [50]:
ts
ts['1/6/2011':'1/11/2011']

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
dtype: float64

In [51]:
ts.truncate(after='1/9/2011')

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
dtype: float64

In [52]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.927335  1.513906  0.538600  1.273768
2001-05-09  0.667876 -0.969206  1.676091 -0.817649
2001-05-16  0.050188  1.951312  3.260383  0.963301
2001-05-23  1.201206 -1.852001  2.406778  0.841176
2001-05-30 -0.749181 -2.989741 -1.295289 -1.690195

### Time Series with Duplicate Indices

In [53]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [54]:
dup_ts.index.is_unique

False

In [55]:
dup_ts['1/3/2000']  # not duplicated
dup_ts['1/2/2000']  # duplicated

4

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [56]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [57]:
ts
resampler = ts.resample('D')

2011-01-02    0.092908
2011-01-05    0.281746
2011-01-07    0.769023
2011-01-08    1.246435
2011-01-10    1.007189
2011-01-12   -1.296221
dtype: float64

### Generating Date Ranges

In [58]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [61]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [63]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [64]:
four_hours = Hour(4)
four_hours

In [65]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [66]:
Hour(2) + Minute(30)

In [67]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [68]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting (Leading and Lagging) Data

In [69]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts
ts.shift(2)
ts.shift(-2)

2000-01-31   -0.932454
2000-02-29   -0.229331
2000-03-31   -1.140330
2000-04-30    0.439920
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.932454
2000-04-30   -0.229331
Freq: M, dtype: float64

2000-01-31   -1.14033
2000-02-29    0.43992
2000-03-31        NaN
2000-04-30        NaN
Freq: M, dtype: float64

ts / ts.shift(1) - 1

In [70]:
ts.shift(2, freq='M')

2000-03-31   -0.932454
2000-04-30   -0.229331
2000-05-31   -1.140330
2000-06-30    0.439920
Freq: M, dtype: float64

In [71]:
ts.shift(3, freq='D')
ts.shift(1, freq='90T')

2000-02-03   -0.932454
2000-03-03   -0.229331
2000-04-03   -1.140330
2000-05-03    0.439920
dtype: float64

2000-01-31 01:30:00   -0.932454
2000-02-29 01:30:00   -0.229331
2000-03-31 01:30:00   -1.140330
2000-04-30 01:30:00    0.439920
Freq: M, dtype: float64

#### Shifting dates with offsets

In [72]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [73]:
now + MonthEnd()
now + MonthEnd(2)

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-12-31 00:00:00')

In [74]:
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-10-31 00:00:00')

In [75]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()

2000-01-15   -0.823758
2000-01-19   -0.520930
2000-01-23    0.350282
2000-01-27    0.204395
2000-01-31    0.133445
2000-02-04    0.327905
2000-02-08    0.072153
2000-02-12    0.131678
2000-02-16   -1.297459
2000-02-20    0.997747
2000-02-24    0.870955
2000-02-28   -0.991253
2000-03-03    0.151699
2000-03-07    1.266151
2000-03-11   -0.202469
2000-03-15    0.050718
2000-03-19    0.639869
2000-03-23    0.597594
2000-03-27   -0.797246
2000-03-31    0.472879
Freq: 4D, dtype: float64

2000-01-31   -0.131313
2000-02-29    0.015961
2000-03-31    0.272399
dtype: float64

In [76]:
ts.resample('M').mean()

2000-01-31   -0.131313
2000-02-29    0.015961
2000-03-31    0.272399
Freq: M, dtype: float64

## Time Zone Handling

In [77]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [78]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [79]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.522356
2012-03-10 09:30:00   -0.546348
2012-03-11 09:30:00   -0.733537
2012-03-12 09:30:00    1.302736
2012-03-13 09:30:00    0.022199
2012-03-14 09:30:00    0.364287
Freq: D, dtype: float64

In [80]:
print(ts.index.tz)

None

In [81]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [82]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.index

2012-03-09 09:30:00    0.522356
2012-03-10 09:30:00   -0.546348
2012-03-11 09:30:00   -0.733537
2012-03-12 09:30:00    1.302736
2012-03-13 09:30:00    0.022199
2012-03-14 09:30:00    0.364287
Freq: D, dtype: float64

2012-03-09 09:30:00+00:00    0.522356
2012-03-10 09:30:00+00:00   -0.546348
2012-03-11 09:30:00+00:00   -0.733537
2012-03-12 09:30:00+00:00    1.302736
2012-03-13 09:30:00+00:00    0.022199
2012-03-14 09:30:00+00:00    0.364287
Freq: D, dtype: float64

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [83]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.522356
2012-03-10 04:30:00-05:00   -0.546348
2012-03-11 05:30:00-04:00   -0.733537
2012-03-12 05:30:00-04:00    1.302736
2012-03-13 05:30:00-04:00    0.022199
2012-03-14 05:30:00-04:00    0.364287
Freq: D, dtype: float64

In [84]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 14:30:00+00:00    0.522356
2012-03-10 14:30:00+00:00   -0.546348
2012-03-11 13:30:00+00:00   -0.733537
2012-03-12 13:30:00+00:00    1.302736
2012-03-13 13:30:00+00:00    0.022199
2012-03-14 13:30:00+00:00    0.364287
Freq: D, dtype: float64

2012-03-09 15:30:00+01:00    0.522356
2012-03-10 15:30:00+01:00   -0.546348
2012-03-11 14:30:00+01:00   -0.733537
2012-03-12 14:30:00+01:00    1.302736
2012-03-13 14:30:00+01:00    0.022199
2012-03-14 14:30:00+01:00    0.364287
Freq: D, dtype: float64

In [85]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zoneâˆ’Aware Timestamp Objects

https://gist.github.com/heyalexej/8bf688fd67d7199be4a1682b3eec7568
LIST OF TIME ZONES

In [91]:
stamp = pd.Timestamp('2020-03-16 04:00')
stamp_utc = stamp.tz_localize('Asia/Hong_Kong')
stamp_utc.tz_convert('America/New_York')

Timestamp('2020-03-15 16:00:00-0400', tz='America/New_York')

In [92]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

Unix epoch:

In [94]:
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

1584302400000000000

1584302400000000000

In [96]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [97]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + 2 * Hour()

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations Between Different Time Zones

In [98]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

2012-03-07 09:30:00   -0.922839
2012-03-08 09:30:00    0.312656
2012-03-09 09:30:00   -1.128497
2012-03-12 09:30:00   -0.333488
2012-03-13 09:30:00   -0.514551
2012-03-14 09:30:00   -0.559782
2012-03-15 09:30:00   -0.783408
2012-03-16 09:30:00   -1.797685
2012-03-19 09:30:00   -0.172670
2012-03-20 09:30:00    0.680215
Freq: B, dtype: float64

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## Periods and Period Arithmetic

In [117]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [100]:
p + 5
p - 2

Period('2012', 'A-DEC')

Period('2005', 'A-DEC')

In [118]:
pd.Period('2014', freq='A-DEC') - p

In [119]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [120]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -2.047939
2000-02   -0.272657
2000-03   -1.692615
2000-04    1.423830
2000-05   -0.407890
2000-06    0.756332
Freq: M, dtype: float64

In [121]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion

In [122]:
p = pd.Period('2007', freq='A-DEC')
p
p.asfreq('M', how='start')
p.asfreq('M', how='end')

Period('2007', 'A-DEC')

Period('2007-01', 'M')

Period('2007-12', 'M')

In [123]:
p = pd.Period('2007', freq='A-JUN')
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')

Period('2007', 'A-JUN')

Period('2006-07', 'M')

Period('2007-06', 'M')

In [124]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [125]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')

2006   -1.288602
2007    0.867534
2008    0.575283
2009    0.304205
Freq: A-DEC, dtype: float64

2006-01   -1.288602
2007-01    0.867534
2008-01    0.575283
2009-01    0.304205
Freq: M, dtype: float64

In [126]:
ts.asfreq('B', how='end')

2006-12-29   -1.288602
2007-12-31    0.867534
2008-12-31    0.575283
2009-12-31    0.304205
Freq: B, dtype: float64

### Quarterly Period Frequencies

In [127]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [128]:
p.asfreq('D', 'start')
p.asfreq('D', 'end')

Period('2011-11-01', 'D')

Period('2012-01-31', 'D')

In [129]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

Period('2012-01-30 16:00', 'T')

Timestamp('2012-01-30 16:00:00')

In [130]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

### Converting Timestamps to Periods (and Back)

In [131]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()
pts

2000-01-31    1.814582
2000-02-29    1.634858
2000-03-31   -1.645693
Freq: M, dtype: float64

2000-01    1.814582
2000-02    1.634858
2000-03   -1.645693
Freq: M, dtype: float64

In [132]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')

2000-01-29   -0.407164
2000-01-30   -0.252765
2000-01-31   -0.894590
2000-02-01    0.955842
2000-02-02   -1.653984
2000-02-03   -0.262528
Freq: D, dtype: float64

2000-01   -0.407164
2000-01   -0.252765
2000-01   -0.894590
2000-02    0.955842
2000-02   -1.653984
2000-02   -0.262528
Freq: M, dtype: float64

In [133]:
pts = ts2.to_period()
pts
pts.to_timestamp(how='end')

2000-01-29   -0.407164
2000-01-30   -0.252765
2000-01-31   -0.894590
2000-02-01    0.955842
2000-02-02   -1.653984
2000-02-03   -0.262528
Freq: D, dtype: float64

2000-01-29 23:59:59.999999999   -0.407164
2000-01-30 23:59:59.999999999   -0.252765
2000-01-31 23:59:59.999999999   -0.894590
2000-02-01 23:59:59.999999999    0.955842
2000-02-02 23:59:59.999999999   -1.653984
2000-02-03 23:59:59.999999999   -0.262528
Freq: D, dtype: float64

### Creating a PeriodIndex from Arrays

In [134]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)
data.year
data.quarter

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
      ...
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [135]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC')
index
data.index = index
data.infl

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
          ...
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

## Resampling and Frequency Conversion

In [136]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.resample('M').mean()
ts.resample('M', kind='period').mean()

2000-01-01   -0.976094
2000-01-02   -1.493407
2000-01-03    1.167858
2000-01-04    0.969001
2000-01-05   -2.536487
                ...
2000-04-05    1.302395
2000-04-06   -0.272154
2000-04-07   -0.051532
2000-04-08   -0.467740
2000-04-09   -1.040816
Freq: D, Length: 100, dtype: float64

2000-01-31   -0.040121
2000-02-29    0.179323
2000-03-31    0.192084
2000-04-30    0.279705
Freq: M, dtype: float64

2000-01   -0.040121
2000-02    0.179323
2000-03    0.192084
2000-04    0.279705
Freq: M, dtype: float64

### Downsampling

In [137]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [138]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [139]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int64

In [140]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int64

In [141]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int64

#### Open-High-Low-Close (OHLC) resampling

In [142]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

### Upsampling and Interpolation

In [143]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.426419  0.312945 -1.115689  1.234297
2000-01-12 -1.893094 -1.661605 -0.005477  1.102206

In [144]:
df_daily = frame.resample('D').asfreq()
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.426419  0.312945 -1.115689  1.234297
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.893094 -1.661605 -0.005477  1.102206

In [145]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.426419  0.312945 -1.115689  1.234297
2000-01-06  0.426419  0.312945 -1.115689  1.234297
2000-01-07  0.426419  0.312945 -1.115689  1.234297
2000-01-08  0.426419  0.312945 -1.115689  1.234297
2000-01-09  0.426419  0.312945 -1.115689  1.234297
2000-01-10  0.426419  0.312945 -1.115689  1.234297
2000-01-11  0.426419  0.312945 -1.115689  1.234297
2000-01-12 -1.893094 -1.661605 -0.005477  1.102206

In [146]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.426419  0.312945 -1.115689  1.234297
2000-01-06  0.426419  0.312945 -1.115689  1.234297
2000-01-07  0.426419  0.312945 -1.115689  1.234297
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -1.893094 -1.661605 -0.005477  1.102206

In [147]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  0.426419  0.312945 -1.115689  1.234297
2000-01-13 -1.893094 -1.661605 -0.005477  1.102206

### Resampling with Periods

In [148]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]
annual_frame = frame.resample('A-DEC').mean()
annual_frame

         Colorado     Texas  New York      Ohio
2000-01  1.013496  2.268799  0.146326  0.508391
2000-02 -0.196713 -3.745356 -1.520113 -0.346839
2000-03 -0.696918  1.307331 -0.683641  1.097988
2000-04 -0.376561  1.188137  1.793426  1.297900
2000-05  0.817727 -0.334296 -1.565077  1.423152

      Colorado     Texas  New York      Ohio
2000  0.243995  0.270545 -0.323029  0.400781
2001  0.352070 -0.553642  0.196642 -0.094099

In [149]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill()
annual_frame.resample('Q-DEC', convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.243995  0.270545 -0.323029  0.400781
2000Q2  0.243995  0.270545 -0.323029  0.400781
2000Q3  0.243995  0.270545 -0.323029  0.400781
2000Q4  0.243995  0.270545 -0.323029  0.400781
2001Q1  0.352070 -0.553642  0.196642 -0.094099
2001Q2  0.352070 -0.553642  0.196642 -0.094099
2001Q3  0.352070 -0.553642  0.196642 -0.094099
2001Q4  0.352070 -0.553642  0.196642 -0.094099

        Colorado     Texas  New York      Ohio
2000Q4  0.243995  0.270545 -0.323029  0.400781
2001Q1  0.243995  0.270545 -0.323029  0.400781
2001Q2  0.243995  0.270545 -0.323029  0.400781
2001Q3  0.243995  0.270545 -0.323029  0.400781
2001Q4  0.352070 -0.553642  0.196642 -0.094099

In [150]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.243995  0.270545 -0.323029  0.400781
2001Q1  0.243995  0.270545 -0.323029  0.400781
2001Q2  0.243995  0.270545 -0.323029  0.400781
2001Q3  0.243995  0.270545 -0.323029  0.400781
2001Q4  0.352070 -0.553642  0.196642 -0.094099
2002Q1  0.352070 -0.553642  0.196642 -0.094099
2002Q2  0.352070 -0.553642  0.196642 -0.094099
2002Q3  0.352070 -0.553642  0.196642 -0.094099

## Moving Window Functions

In [151]:
close_px_all = pd.read_csv('examples/stock_px_2.csv',
                           parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B').ffill()

In [ ]:
close_px.AAPL.plot()
close_px.AAPL.rolling(250).mean().plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = close_px.AAPL.rolling(250, min_periods=10).std()
appl_std250[5:12]
appl_std250.plot()

In [ ]:
expanding_mean = appl_std250.expanding().mean()

In [ ]:
plt.figure()

In [ ]:
close_px.rolling(60).mean().plot(logy=True)

In [ ]:
close_px.rolling('20D').mean()

### Exponentially Weighted Functions

In [ ]:
plt.figure()

In [ ]:
aapl_px = close_px.AAPL['2006':'2007']
ma60 = aapl_px.rolling(30, min_periods=20).mean()
ewma60 = aapl_px.ewm(span=30).mean()
ma60.plot(style='k--', label='Simple MA')
ewma60.plot(style='k-', label='EW MA')
plt.legend()

### Binary Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
spx_px = close_px_all['SPX']
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [ ]:
corr = returns.AAPL.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [ ]:
plt.figure()

In [ ]:
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

### User-Defined Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = returns.AAPL.rolling(250).apply(score_at_2percent)
result.plot()

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS

## Conclusion